/*   --header-footer-color: #DCCFC1;
    --primary-page-color: #FAF6F6;
    --secondary-page-color: #C1DCC1;
    --heading-font-family: 'Abril Fatface', cursive;
    --default-font-family: 'Poppins', sans-serif;
    --heading-font-color: #bfb4a8;
    --secondary-font-color: #A7BFA7; 
    
    <img src="images/logo.png" class="logo" alt="MZ logo">

     position: absolute;
 max-width: 83px;
 top: 0;
 padding: 0;

    */
  
@font-face {
  font-family: signature;
  src: url("HousttelySignature-qZo4r.ttf");
}

@font-face {
  font-family: boiling;
  src: url("BoilingBlackDemo-jEReR.ttf");
}

:root {
    --header-footer-color: #bcb2a8;
    --primary-page-color: #FAF6F6;
    --secondary-page-color: #2F4F4E;
    --heading-font-family: boiling;
    --default-font-family: 'Poppins', sans-serif;
    --heading-font-color: #647f7f;
    --secondary-font-color: #AC9F9D;
    --branding-image: url(/images/linen.jpg);
    --button-box-shadow: 9px 7px 0px 1px #FFFFFF;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--primary-page-color);
  text-align: center;
}

nav {
  background-color: var(--header-footer-color);
}

nav li {
  margin-left: 15px;
}

nav li a {
    text-decoration: none;
  color: white !important;
}

nav a:hover,
nav li .active {
  color: black !important;
  letter-spacing: 0.0650em;
  transition: all 200ms ease-in-out;
}

nav .logo {
 font-family: signature;
}

h2 {
  font-size: 53px;
  font-family: var(--heading-font-family);
  color: var(--heading-font-color);
  line-height: 0.9;
}

h3 {
  color: var(--secondary-font-color);
}

footer {
  background-color: var(--header-footer-color);
  padding: 8px;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 0 10px;
}

footer a:hover {
  color: black;
  transition: all 200ms ease-in-out;
}
 
.hero {
  padding: 90px 20px;
  background: var(--branding-image);
  background-position: center;
  -webkit-background-size: cover;
}

.hero h4 {
  font-size: 38px;
  font-family: var(--default-font-family);
}

.hero h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  color: white;
}

.hero h3 {
  font-size: 28px;
  font-weight: lighter;
  color: black;
}

.btn-branding {
  background: black;
  color: white;
  border-radius: 0;
  box-shadow: var(--button-box-shadow);
  padding: 4px 35px;
}

.btn-branding:focus {
  box-shadow: var(--button-box-shadow);
}

.btn-branding:hover {
color: var(--heading-font-color);
letter-spacing: 0.0650em;
transition: all 100ms ease-in-out;
}

.middle-hero {
   padding: 20px 10px;
   background-color: var(--secondary-page-color);
}

.middle-hero img {
  max-width: 180px;
}

.bottom-hero {
  padding: 30px 20px;
  background: var(--branding-image);
}

.bottom-hero img {
  padding: 20px;
  max-width: 330px;
}

.bottom-hero img:hover {
opacity: 0.7;
transition: all 150ms ease-in-out;
max-width: 350px;
border: 2px solid black;
}

.bottom-hero a {
  text-decoration: none;
}

.about-container {
  padding: 34px 30px;
  text-align: justify;
    text-align-last: right;
}

.about-container h2 {
  font-family: signature;
  font-size: 35px;
}

.about-container img {
  max-width: 275px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  float: left;
}

.wrapper {
  padding: 30px 20px;
  background-image: var(--branding-image);
  background-position: center;
  -webkit-background-size: cover;
}

.wrapper a {
  font-size: 14px;
  padding: 4px 40px;
}

.work-container {
  padding: 60px 40px;
}

.project-description {
   text-align: justify;
    text-align-last: left;
}

.project-description2 {
   text-align: justify;
    text-align-last: right;
}

.work-container img {
  border-radius: 15px;
  opacity: 0.5;
  max-width: 270px;
  box-shadow: 4px 8px 13px 2px rgba(0,0,0,0.17);
}

.work-container h3 {
  color: black;
  font-family: var(--heading-font-family);
}

.contact-container h1 {
  font-family: var(--heading-font-family);
  color: white;
  font-size: 50px;
}

.contact-container {
  padding: 20px 20px;
   background-image: var(--branding-image);
  background-position: center;
  -webkit-background-size: cover;
}

.contact-header {
  max-width: 430px;
  background-color: black;
  box-shadow: var(--button-box-shadow);
}

.contact-info {
  background-image: url(/images/mobile.png);
  max-width: 410px;
  padding: 100px;
  margin: 0 auto;
  background-position: center;
  height: 530px;
   -webkit-background-size: cover;
}

.contact-info a {
  text-decoration: none;
  color: black;
}

.contact-info a:hover {
  color: white;
  transition: all 150ms ease-in-out;
}

.contact-info h5 {
  color: white;
  font-weight: medium;
}

.mobile {
  background-image: url(/images/mobile.png);
  width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.mobile-btn {
  font-size: 13px;
  color: white !important;
  padding: 3px 20px;
}

.mobile-btn:hover {
  color: var(--heading-font-color) !important;
}

.arrow{
    position: relative;
    left: 100.5%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transform: rotate(45deg);
    margin: -15px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

.netlify-link,
.netlify-link a {
  font-size: 11px;
  color: white;
}

.netlify-link a {
  padding: 0;
}

.netlify-link a:hover {
  color: black;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@media (max-width: 600px) {

  body {
    text-align: center;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 20px;
  }

  .hero h1 {
    font-size: 67px;
    line-height: 1;
  }

  .hero h3 {
    font-size: 21px;
  }

  .hero h4 {
    font-size: 32px;
  }

 .middle-hero a{
   font-size: 13px;
 }

 .middle-hero img {
   max-width: 150px;
 }

 .bottom-hero img {
   max-width: 280px;
 }

 .about-container {
  text-align: justify;
    text-align-last: center;
    padding: 0 40px;
    padding-bottom: 40px;
 }

 .about-container img {
   float: inherit;
 }

 .project-description,
 .project-description2 {
   margin-top: -20px;
   text-align: justify;
   text-align-last: center;
 }

.contact-container h1 {
  font-size: 40px;
}

.contact-header {
  max-width: 290px;
}

.contact-container a {
  font-size: 14px;
}

.mobile-btn {
  font-size: 11px !important;
}

.hero {
  padding: 50px 20px;
  padding-bottom: 80px;
}

}
