:root {
    --header-footer-color: #DCCFC1;
    --primary-page-color: #FAF6F6;
    --secondary-page-color: #C1DCC1;
    --heading-font-family: 'Abril Fatface', cursive;
    --default-font-family: 'Poppins', sans-serif;
    --heading-font-color: #B29E89;
    --secondary-font-color: #A7BFA7;
    --branding-image: url(/images/linen.jpg);
    --button-box-shadow: 9px 7px 0px 1px #FFFFFF;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--primary-page-color);
  text-align: center;
}

nav {
    background-color: var(--header-footer-color);
}

nav li {
  margin-left: 15px;
}

nav li a {
    text-decoration: none;
  color: white !important;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li .active {
  color: black !important;
}

nav .logo {
 position: absolute;
 max-width: 83px;
 top: 0;
 padding: 0;
}

h2 {
  font-size: 53px;
  font-family: var(--heading-font-family);
  color: var(--heading-font-color);
  line-height: 0.9;
}

h3 {
  color: var(--secondary-font-color);
}

footer {
  background-color: var(--header-footer-color);
  padding: 8px;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 0 10px;
}

footer a:hover {
  color: black;
  transition: all 130ms ease-in-out;
}

.hero {
  padding: 120px 20px;
  background: var(--branding-image);
  background-position: center;
  -webkit-background-size: cover;
}

.hero h4 {
  font-size: 38px;
  font-family: var(--default-font-family);
}

.hero h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  color: var(--primary-page-color);
}

.hero h3 {
  font-size: 28px;
  font-weight: lighter;
  color: black;
}

.btn-branding {
  background: black;
  color: white;
  border-radius: 0;
  box-shadow: var(--button-box-shadow);
  padding: 4px 35px;
}

.btn-branding:hover {
color: var(--secondary-page-color);
}

.middle-hero {
   padding: 20px 10px;
   background-color: var(--secondary-page-color);
}

.middle-hero img {
  max-width: 180px;
}

.bottom-hero {
  padding: 30px 20px;
}

.bottom-hero img {
  padding: 20px;
  max-width: 330px;
}

.bottom-hero img:hover {
opacity: 0.5;
transition: all 130ms ease-in-out;
}

.about-container {
  padding: 34px 30px;
}

.about-container img {
  max-width: 275px;
  box-shadow: 4px 8px 13px 2px rgba(0,0,0,0.17);
}

.wrapper {
  padding: 30px 20px;
  background-image: var(--branding-image);
  background-position: center;
  -webkit-background-size: cover;
}

.wrapper a {
  font-size: 14px;
  padding: 4px 40px;
}

.work-container {
  padding: 60px 40px;
}

.work-container img {
  border-radius: 15px;
  opacity: 0.5;
  max-width: 270px;
  box-shadow: 4px 8px 13px 2px rgba(0,0,0,0.17);
}

.work-container h3 {
  color: black;
  font-family: var(--heading-font-family);
}

.contact-container h1 {
  font-family: var(--heading-font-family);
  color: white;
  font-size: 55px;
}

.contact-container {
  padding: 30px 20px;
   background-image: var(--branding-image);
  background-position: center;
  -webkit-background-size: cover;
}

.contact-header {
  max-width: 450px;
  background-color: black;
  box-shadow: var(--button-box-shadow);
}

.contact-info {
  background-image: url(/images/mobile.png);
  width: 410px;
  padding: 100px;
  margin: 0 auto;
  background-position: center;
  height: 530px;
   -webkit-background-size: cover;
}

.contact-info a {
  text-decoration: none;
  color: black;
}

.contact-info a:hover {
  color: white;
}

.contact-info h5 {
  color: white;
  font-weight: medium;
}

.mobile {
  background-image: url(/images/mobile.png);
  width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.mobile-btn {
  font-size: 13px;
  color: white !important;
  padding: 3px 20px;
}

.mobile-btn:hover {
  color: var(--secondary-page-color) !important;
}



